body{
	margin: 0; 
	padding: 0; 
	overflow: hidden; 
	color: #fff;
	background: #000;
	font: normal 90% "Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Arial,Helvetica,Sans-Serif;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
h1, h2{
	margin-top:0;
	font-size: 2em;
	font-weight:bold;
	color: #eca603;
}
a{
	font-weight:bold;
	color:#fff;
}
#wrapper{
	position: relative;
	top: 0;
	transition: top 1.4s cubic-bezier(.49,.22,.52,1.35);
	-webkit-transition: top 1.4s cubic-bezier(.49,.22,.52,1);
	-ms-transition: top 1.4s cubic-bezier(.49,.22,.52,1.35);
}
nav{
	position: fixed;
	top: 0;
	left: 0; 
	right: 0;
	padding: 1em 0;
	margin: 0;
	text-align: center;
	background: #000;
	font-size: 1em;
	z-index:10;
}
nav li{
	display: inline;
	margin:0;
}
nav a{
	display: inline-block;
	margin: 0 3em;
	color: #eee;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 0 0 5px #fff;
	-webkit-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
}
#slide1, #slide2, #slide3{
	height: 1000px;
	padding-top:100px;
	-webkit-transition: background-position 1.4s  cubic-bezier(.49,.22,.52,1);
	-ms-transition: background-position 1.4s  cubic-bezier(.49,.22,.52,1.35);
	transition: background-position 1.4s  cubic-bezier(.49,.22,.52,1.35);
}
#slide1{ background: url(images/bg.jpg) center 0 no-repeat fixed; }
#slide2{ background: url(images/bg.jpg) center 0 no-repeat fixed; }
#slide3{ background: url(images/bg.jpg) center 0 no-repeat fixed; }
.slide_inside{
	width: 770px;
	margin: 0 auto;
	position: relative;
	background-color: rgba(0, 0, 0, .6);
	padding: 50px;
}
#slide1 .slide_inside{
	text-align: center;
	background-color: transparent;
}
#slide2 .slide_inside p{
	width: 500px;
	text-align: justify;
}
#slide3 .slide_inside{
	margin-top: 50px;
}

#s1:target ~ #wrapper { top:0px; }
#s1:target ~ #wrapper nav li:first-child a { text-shadow: 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603; }
#s1:target ~ #wrapper #slide1 { background-position: 50% 0%; }
#s1:target ~ #wrapper #slide2 { background-position: 50% -35%; }
#s1:target ~ #wrapper #slide3 { background-position: 50% -60%; }

#s2:target ~ #wrapper {	top:-1000px;} 
#s2:target ~ #wrapper #slide1 { background-position: 50% 36%; }
#s2:target ~ #wrapper #slide2 { background-position: 50% 0%; }
#s2:target ~ #wrapper #slide3 { background-position: 50% -30%; }
#s2:target ~ #wrapper nav li:first-child + li a {
	text-shadow: 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603; }

#s3:target ~ #wrapper { top:-2150px; }
#s3:target ~ #wrapper nav li:last-child a { text-shadow: 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603; }
#s3:target ~ #wrapper #slide1 { background-position: 50% 60%; }
#s3:target ~ #wrapper #slide2 { background-position: 50% 35%; }
#s3:target ~ #wrapper #slide3 { background-position: 50% 0%; }

#nav li{
	display: inline;
	margin:0;
}
#nav a{
	display: inline-block;
	margin: 0 3em;
	color: #eee;
	text-shadow: 0 0 5px #fff;
	transition: all 1s;
}